[Unit]
Description=pyduargb the daemon for your ledstrip
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 PATH_TO_PYDUARGB

[Install]
WantedBy=multi-user.target
